
@model DiagnoseDetailPageViewModel

<div class="width-100 content-section users-session">
    <div class="page-header">
        <h2>
            <a asp-controller="DiagonizeIssues"
               asp-action="SearchResults"><i class="fa fa-chevron-left" aria-hidden="false"></i></a>
            @Model.ConnectionActivity.SessionHostName Status
        </h2>
    </div>
    <form asp-controller="DiagonizeIssues" method="post">
        <div class="ms-Grid m-b-25" dir="ltr">
            <div class="ms-Grid-row">
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.activityId" class="control-label ms-Grid-col ms-xxxl4">ActivityID:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.activityId</span>
                        <input asp-for="@Model.ConnectionActivity.activityId" type="hidden">

                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.activityType" class="control-label ms-Grid-col ms-xxxl4">Type:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.activityType</span>
                        <input asp-for="@Model.ConnectionActivity.activityType" type="hidden">
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.userName" class="control-label ms-Grid-col ms-xxxl4">UserName:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.userName</span>
                        <input asp-for="@Model.ConnectionActivity.userName" type="hidden">

                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.outcome" class="control-label ms-Grid-col ms-xxxl4">Outcome:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.outcome</span>
                        <input asp-for="@Model.ConnectionActivity.outcome" type="hidden">
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.startTime" class="control-label ms-Grid-col ms-xxxl4">Start Time:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.startTime</span>
                        <input asp-for="@Model.ConnectionActivity.startTime" type="hidden">
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.endTime" class="control-label ms-Grid-col ms-xxxl4">End Time:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.endTime</span>
                        <input asp-for="@Model.ConnectionActivity.endTime" type="hidden">
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.ClientIPAddress" class="control-label ms-Grid-col ms-xxxl4">Client IP:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.ClientIPAddress</span>
                        <input asp-for="@Model.ConnectionActivity.ClientIPAddress" type="hidden">
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.ClientOS" class="control-label ms-Grid-col ms-xxxl4">Client:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.ClientOS</span>
                        <input asp-for="@Model.ConnectionActivity.ClientOS" type="hidden">
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.SessionHostName" class="control-label ms-Grid-col ms-xxxl4">Session Host:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.SessionHostName</span>
                        <input asp-for="@Model.ConnectionActivity.SessionHostName" type="hidden">
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.SessionHostPoolName" class="control-label ms-Grid-col ms-xxxl4">SessionHostPoolName:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.SessionHostPoolName</span>
                        <input asp-for="@Model.ConnectionActivity.SessionHostPoolName" type="hidden">
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl6">
                    <label asp-for="ConnectionActivity.Tenants" class="control-label ms-Grid-col ms-xxxl4">Tenant:</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl8 spanlabel">
                        <span>@Model.ConnectionActivity.Tenants</span>
                        <input asp-for="@Model.ConnectionActivity.Tenants" type="hidden">
                    </div>
                </div>
            </div>
        </div>

        @if (Model.SendMsgStatuses != null && Model.SendMsgStatuses.Count > 0)
        {
            @foreach (var d in Model.SendMsgStatuses)
            {

                if (@d.Status == "Success")
                {
                    <div id="msgbardiv">
                        <div class="ms-MessageBar ms-MessageBar--success">
                            <div class="ms-MessageBar-content">
                                <div class="ms-MessageBar-icon">
                                    <i class="ms-Icon ms-Icon--Completed"></i>
                                </div>
                                <ul class="ms-MessageBar-text">
                                    @d.Message
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div id="msgbardiv">
                        <div class="ms-MessageBar ms-MessageBar--error">
                            <div class="ms-MessageBar-content">
                                <div class="ms-MessageBar-icon">
                                    <i class="ms-Icon ms-Icon--ErrorBadge"></i>
                                </div>
                                <ul class="ms-MessageBar-text">
                                    @d.Message
                                </ul>
                            </div>
                        </div>
                    </div>
                }

            }
        }

        <div class="ms-Pivot">
            <ul class="ms-Pivot-links">

                @{
                    var vmstyle = Model.ShowConnectedUser == true ? "ms-Pivot-link" : "ms-Pivot-link is-selected";
                    var userStyle = Model.ShowConnectedUser == true ? "ms-Pivot-link is-selected" : "ms-Pivot-link";
                    <li class="@vmstyle" data-content="files" title="My files" tabindex="1">
                        VM Performance
                    </li>
                    <li class="@userStyle" data-content="recent" title="Recent" tabindex="2" id="UserConnected">
                        Users Connected
                    </li>
                }

            </ul>

            @if (Model.ShowConnectedUser == false)
            {
                <div class="ms-Pivot-content" data-content="files" id="divVmContent">
                    VM Performance
                </div>
            }


            <div class="ms-Pivot-content" data-content="recent">
                @if (Model.UserSessions != null && Model.UserSessions.Count > 0)
                {
                    <div>
                        <table class="ms-Table">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Session ID</th>
                                    <th>User UPN</th>
                                </tr>
                            </thead>
                            @{
                                for (int i = 0; i < Model.UserSessions.Count; i++)
                                {
                                    bool isChecked = Convert.ToBoolean(@Model.UserSessions[i].IsSelected);
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input asp-for="@Model.UserSessions[i].IsSelected" type="checkbox">
                                                <input asp-for="@Model.UserSessions[i].tenantGroupName" type="hidden">

                                                <input asp-for="@Model.UserSessions[i].tenantName" type="hidden">

                                                <input asp-for="@Model.UserSessions[i].hostPoolName" type="hidden">

                                                <input asp-for="@Model.UserSessions[i].sessionHostName" type="hidden">

                                                <input asp-for="@Model.UserSessions[i].userPrincipalName" type="hidden">

                                                <input asp-for="@Model.UserSessions[i].sessionId" type="hidden">
                                            </td>
                                            <td>@Model.UserSessions[i].sessionId</td>
                                            <td><label> @Model.UserSessions[i].userPrincipalName  </label></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    </div>
                    <div class="anchorlinksdiv">
                        <button class="ms-Button message-user" asp-action="LogOffUserSession" type="submit" id="btnlogOff">
                            <span class="ms-Button-label labelcolor">Logoff user(s)</span>
                        </button>
                        <div class="ms-Button message-user" id="msguserbtn">
                            <span class="ms-Button-label labelcolor">Message user(s)</span>
                        </div>
                    </div>
                }
                else
                {
                    <div>
                        <h4>There is no active user sessions.</h4>
                    </div>
                }


                @if (Model.ShowMessageForm)
                {
                    <div id="sendmessagediv" class="sendmessagediv">
                        <label asp-for="Title" class="control-label">Title</label>
                        <input asp-for="Title" class="form-control m-b-10" value="" />
                        <span asp-validation-for="Title" class="error-msg"></span>

                        <label asp-for="Message" class="control-labe">Message</label>
                        <input asp-for="Message" class="form-control m-b-10" value="" multiple />

                        <span asp-validation-for="Message" class="error-msg"></span>
                        <button type="reset" class="ms-Button">
                            <span class="ms-Button-label">Cancel</span>
                        </button>
                        <button asp-action="SendMessage" type="submit" class="ms-Button primary-btn" id="sendmsg">
                            <span class="ms-Button-label">Send</span>
                        </button>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var PivotElements = document.querySelectorAll(".ms-Pivot");
    for (var i = 0; i < PivotElements.length; i++) {
        new fabric['Pivot'](PivotElements[i]);
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sendmessagediv").hide();
        $("#msguserbtn").click(function () {
            $("#sendmessagediv").show();
            $("#divVmContent").hide();
        });
        $("#sendmsg").click(function () {
            $("#msgbardiv").show();
            $("#sendmessagediv").show();
        })
    });
</script>
