@model DaigonizePageViewModel
@{
    ViewData["Title"] = "Diagonize Issues";
}
<div class="width-100">
   
    <br />
    @using (Html.BeginForm("SearchActivity", "DiagonizeIssues", FormMethod.Post))
    {
    <div class="row form-group">
        @Html.Label("UserUPN", "User UPN", new { @class = "control-label col-md-1 f-500" })
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.DiagonizeQuery.Upn, new { @Value = "Enter upn", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DiagonizeQuery.Upn, "",
        new { @class = "text-danger" })
        </div>
    </div>
        <div class="row form-group">
            @Html.Label("interval", "Issue interval from :",
           new { @class = "control-label col-md-1 f-500" })
            <div class="col-sm-3" >
                @Html.EditorFor(m => m.DiagonizeQuery.StartDate, "{mm/dd/yyyy}", new { @class = "form-control", type = "date" })
                @*@Html.ValidationMessageFor(m => m.DiagonizeQuery.startDate, "",
        new { @class = "text-danger" })*@
            </div>
            @Html.Label("to", "To", new { @class = "control-label col-sm-1 f-500 mrgnlft" })
            <div class="col-sm-3" style="margin-left:1px;">
                @Html.EditorFor(m => m.DiagonizeQuery.EndDate, "{mm/dd/yyyy}",
               new { @style = "line-height:inherit", type = "date", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DiagonizeQuery.EndDate, "",
        new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            @Html.Label("activityType", "Activity Type", new { @class = "control-label col-md-1 f-500" })
            <div class="col-sm-3">
                @Html.DropDownListFor(model => model.DiagonizeQuery.ActivityType,
        new SelectList(Enum.GetValues(typeof(MSFT.WVD.Monitoring.Common.Models.ActivityType))),
        new { @class = "form-control" })

            </div>
           
            @Html.Label("outcome", "Outcome", new { @class = "control-label col-sm-1 f-500" })
            <div class="col-sm-3">
                @Html.DropDownListFor(model => model.DiagonizeQuery.ActivityOutcome,
     new SelectList(Enum.GetValues(typeof(MSFT.WVD.Monitoring.Common.Models.ActivityOutcome)))
     ,"All",
     new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="searchbtn" style="margin-left: 173px;">              
                <input type="submit" value="Search" class="btn-primary"  />
            </div>
        </div>
    }
        <div style="padding-right: 12px;">
            @if (Model.ActivityType == MSFT.WVD.Monitoring.Common.Models.ActivityType.Connection && Model.ConnectionActivity != null)
            {
                <table class="table table-bordered table-responsive table-hover table-striped">
                    <tr>
                        <th> Activity ID</th>
                        <th>Type</th>
                        <th>Outcome</th>
                        <th>Error Type</th>
                        <th>Error</th>
                        <th>Tenant</th>
                        <th>UserName</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Client</th>
                        <th>Client Ip</th>
                        <th>Session Host</th>

                    </tr>
                    @foreach (var d in Model.ConnectionActivity)
                    {
                        <tr>
                            <td>@d.activityId</td>
                            <td>@d.activityType</td>
                            <td>@d.outcome</td>
                            <td>@d.isInternalError</td>
                            <td>@d.errorMessage</td>
                            <td>@d.Tenants</td>
                            <td>@d.userName</td>
                            <td>@d.startTime</td>
                            <td>@d.endTime</td>
                            <td>@d.ClientOS</td>
                            <td>@d.ClientIPAddress</td>
                            <td>@d.SessionHostName</td>


                        </tr>
                    }
                </table>
            }
            else if (Model.ActivityType == MSFT.WVD.Monitoring.Common.Models.ActivityType.Management)
            {
                <table class="table table-bordered table-responsive table-hover table-striped">
                    <tr>
                        <th>Activity ID</th>
                        <th>Type</th>
                        <th>Outcome</th>
                        <th>Error Type</th>
                        <th>Error</th>
                        <th>Tenant</th>
                        <th>UserName</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Objects Created</th>
                        <th>Objects Deleted</th>
                        <th>Objects Fetched</th>
                        <th>Objects Updated</th>
                    </tr>
                    @foreach (var d in Model.ManagementActivity)
                    {
                        <tr>
                            <td>@d.activityId</td>
                            <td>@d.activityType</td>
                            <td>@d.outcome</td>
                            <td>@d.isInternalError</td>
                            <td>@d.errorMessage</td>
                            <td>@d.Tenants</td>
                            <td>@d.userName</td>
                            <td>@d.startTime</td>
                            <td>@d.endTime</td>
                            <td>@d.ObjectsCreated</td>
                            <td>@d.ObjectsDeleted</td>
                            <td>@d.ObjectsUpdated</td>
                        </tr>
                    }
                </table>
            }
            else if (Model.ActivityType == MSFT.WVD.Monitoring.Common.Models.ActivityType.Feed)
            {
                <table class="table table-bordered table-responsive table-hover table-striped">
                    <tr>
                        <th>Activity Id </th>
                        <th>Activity Type</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>UserName</th>
                        <th>Outcome</th>
                        <th>Internal Error </th>
                        <th>Error Message</th>
                        <th>ClientIPAddress </th>
                        <th>ClientOS </th>


                    </tr>
                    @foreach (var d in Model.FeedActivity)
                    {
                    <tr>
                        <td>@d.activityId </td>
                        <td>@d.activityType </td>
                        <td>@d.startTime </td>
                        <td>@d.endTime </td>
                        <td>@d.userName</td>
                        <td>@d.outcome </td>
                        <td>@d.isInternalError </td>
                        <td>@d.errorMessage </td>
                        <td>@d.ClientIPAddress </td>
                        <td>@d.ClientOS </td>
                    </tr>
                    }
                </table>
            }
            else
            {
                <div>
                    <p>No records found for the search criteria</p>
                </div>
            }
        </div>




</div>

