@model DaigonisepageModel

@{
    ViewData["Title"] = "Index";
}
<div class="width-100">
    <br />
    @using (Html.BeginForm("SearchActivity", "DiagonizeIssues", FormMethod.Post))
    {
        <div class="row form-group">
            @Html.Label("UserUPN", "User UPN", new { @class = "control-label col-md-1 f-500" })
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.upn, new { @Value = "Enter upn", @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            @Html.Label("interval", "Issue interval from :",
           new { @class = "control-label col-md-1 f-500" })
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.startdate, "{0:yyyy-dd-MM}",
               new { @style = "line-height:inherit", type = "date", @class = "form-control" })
            </div>
            @Html.Label("to", "to", new { @class = "control-label col-sm-1 f-500" })
            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.enddate, "{0:yyyy-dd-MM}",
               new { @style = "line-height:inherit", type = "date", @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            @Html.Label("activityType", "Activity Type", new { @class = "control-label col-md-1 f-500" })
            <div class="col-sm-2">
                @*@Html.DropDownListFor(model=>model.activityType,
        new SelectList(Enum.GetValues(Model.activityType.GetType())),
        "ActivityTypes",
        new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.activityType,
        new SelectList(Enum.GetValues(typeof(MSFT.WVD.Monitoring.Common.Models.ActivityType))),
        new { @class = "form-control" })

            </div>
            @Html.Label("outcome", "outcome", new { @class = "control-label col-sm-1 f-500" })
            <div class="col-sm-2">
                @*@Html.DropDownListFor(model => model.activityOutcome, Enum.GetNames(typeof(MSFT.WVD.Monitoring.Common.Models.ActivityOutcome)).Select(e => new SelectListItem { Text = e }))*@
                @*@Html.DropDownList("outcome",
        new SelectList(Enum.GetValues(typeof(ActivityOutcome))),
        "All",
        new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.outcome,
     new SelectList(Enum.GetValues(typeof(MSFT.WVD.Monitoring.Common.Models.ActivityOutcome))),
     "All",
     new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-offset-1">
                @*<input type="search" value="Search" class="btn btn-default" />*@
                <input type="submit" value="Search" class="btn-default" />
                @*<button type="button" class="btn btn-default" style="margin-left:15px">search</button>*@
            </div>
        </div>
    }
    <table class="table table-bordered table-responsive">
       
        <tr>
            <th>
                Activity ID
            </th>
            <th>
                Type
            </th>
            <th>
                Outcome
            </th>
            <th>
                Error Type
            <th>
                Error
            <th>
                Tenant
            </th>
            <th>
                UserName
            </th>
            <th>
                start time
            </th>
            <th>
                End time
            </th>
            <th>
                client
            </th>
            <th>
                client Ip
            </th>
            <th>
                session Host
            </th>
            <th>
               SH Health
            </th>

        </tr>
        <tr>
            <td>
                fhgdsjfd
            </td>
            <td>
                dfgf
            </td>
            <td>
                ffgf
            </td>
            <td>
                ffg
            </td>
            <td>
                fgfgfg
            </td>
            <td>
                ffgfg
            </td>
            <td>
                fhgdsjfd
            </td>
            <td>
                dfgf
            </td>
            <td>
                ffgf
            </td>
            <td>
                ffg
            </td>
            <td>
                fgfgfg
            </td>
            <td>
                ffgfg
            </td>
            <td>
                ffgfg
            </td>
        </tr>
    </table>
</div>

