@model DiagonizePageViewModel
@using MSFT.WVD.Monitoring.Common.Models
@{
    ViewData["Title"] = "Diagonize Issues";

}

<div class="width-100 content-section">
    <br />
    <form asp-controller="DiagonizeIssues" asp-action="Index" method="post" id="myform" asp-route-returnUrl="@Context.Request.Path" role="form">
        <div class="ms-Grid" dir="ltr">
            <div class="ms-Grid-row">
                <div class="form-wrap ms-Grid-col ms-xxxl12 ms-xxl12 ms-xl12 m-b-20">
                    <label asp-for="DiagonizeQuery.UPN" class="control-label ms-Grid-col ms-xxxl2 ms-xxl2 ms-xl2">User UPN<span class="red">*</span></label>
                    <div class="input-wrap ms-Grid-col ms-xxxl4 ms-xxl4 ms-xl4">
                        <input asp-for="@Model.DiagonizeQuery.UPN" class="form-control" id="upn" />
                        <span asp-validation-for="DiagonizeQuery.UPN" class="error-msg validate"></span>
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl12 ms-xxl12 ms-xl12 m-b-20">
                    <label asp-for="DiagonizeQuery.StartDate" class="control-label ms-Grid-col ms-xxxl2 ms-xxl2 ms-xl2">Issue Interval From</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl4 ms-xxl4 ms-xl4">
                        <input asp-for="DiagonizeQuery.StartDate" class="form-control" type="date" id="startDate" />
                        <span asp-validation-for="DiagonizeQuery.StartDate" class="error-msg"></span>
                    </div>
                    <label asp-for="DiagonizeQuery.EndDate" class="control-label ms-Grid-col ms-xxxl2 ms-xxl2 ms-xl2">To</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl4 ms-xxl4 ms-xl4">
                        <input asp-for="DiagonizeQuery.EndDate" class="form-control enddate" type="date" id="endDate" />
                        <span asp-validation-for="DiagonizeQuery.EndDate" class="error-msg"></span>
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl12 ms-xxl12 ms-xl12 m-b-20">
                    <label asp-for="DiagonizeQuery.ActivityType" class="control-label ms-Grid-col ms-xxxl2 ms-xxl2 ms-xl2"></label>
                    <div class="input-wrap ms-Grid-col ms-xxxl4 ms-xxl4 ms-xl4">
                        <select asp-for="DiagonizeQuery.ActivityType" asp-items="Html.GetEnumSelectList<ActivityType>()" class="form-control width-100" id="activityType"></select>
                    </div>
                    <label asp-for="DiagonizeQuery.ActivityOutcome" class="control-label ms-Grid-col ms-xxxl2 ms-xxl2 ms-xl2">Outcome</label>
                    <div class="input-wrap ms-Grid-col ms-xxxl4 ms-xxl4 ms-xl4">
                        <select asp-for="DiagonizeQuery.ActivityOutcome" asp-items="Html.GetEnumSelectList<ActivityOutcome>()" class="form-control width-100" id="activityOutcome"></select>
                    </div>
                </div>
                <div class="form-wrap ms-Grid-col ms-xxxl12 ms-xxl12 ms-xl12 ms-smPush2 p-l-r-15 m-b-20">
                    <button type="submit" class="ms-Button primary-btn" id="process">
                        <span class="ms-Button-label">Search</span>
                        `
                    </button>
                    <button type="reset" class="ms-Button secondary-btn">
                        <span class="ms-Button-label">Clear</span>
                    </button>

                </div>
            </div>
        </div>



        @if (Model.ConnectionActivity != null || Model.ManagementActivity != null || Model.FeedActivity != null)
        {


        }
        else
        {
            <div id="loader1" class="loader"></div>
        }
        <div class="activitytable" id="table">

            @if (Model.ActivityType == MSFT.WVD.Monitoring.Common.Models.ActivityType.Connection && Model.ConnectionActivity != null)
            {
                <table class="ms-Table">
                    <thead>
                        <tr>
                            <th asp-for="Activity ID">Activity ID</th>
                            <th asp-for="Type">Type</th>
                            <th asp-for="Outcome">Outcome</th>
                            <th asp-for="isInternalError">Internal Error</th>
                            <th asp-for="Error">Error</th>
                            <th asp-for="Tenant">Tenant</th>
                            <th asp-for="HostPoolname">HostPoolname</th>
                            <th asp-for="UserName">UserName</th>
                            <th asp-for="Start Time">Start Time</th>
                            <th asp-for="End Time">End Time</th>
                            <th asp-for="Client">Client</th>
                            <th asp-for="Client Ip">Client Ip</th>
                            <th asp-for="Session Host">Session Host</th>
                            <th asp-for="Details">Details</th>
                        </tr>
                    </thead>

                    @foreach (var d in Model.ConnectionActivity)
                    {
                        <tbody>
                            <tr>
                                <td class="word-break">@d.activityId</td>
                                <td>@d.activityType</td>
                                <td>@d.outcome</td>

                                <td>
                                    @(d.isInternalError != null && d.isInternalError.ToString() == "true" ? "Yes" : "No")
                                </td>
                                <td>@d.errorMessage</td>
                                <td>@d.Tenants</td>
                                <td>@d.SessionHostPoolName</td>
                                <td class="word-break">@d.userName</td>
                                <td>@d.startTime</td>
                                <td>@d.endTime</td>
                                <td>@d.ClientOS</td>
                                <td>@d.ClientIPAddress</td>
                                <td>@d.SessionHostName</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(d.SessionHostName))
                                    {
                                        <a asp-controller="DiagonizeIssues"
                                           asp-action="ActivityHostDetails"
                                           asp-route-id="@d.activityId" class="ms-ContextualMenu-item">View Status</a>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            }
            else if (Model.ActivityType == MSFT.WVD.Monitoring.Common.Models.ActivityType.Management)
            {
                <table class="ms-Table">
                    <thead>
                        <tr>
                            <th asp-for="Activity ID">Activity ID</th>
                            <th asp-for="Type">Type</th>
                            <th asp-for="Outcome">Outcome</th>
                            <th asp-for="isInternalError">Internal Error</th>
                            <th asp-for="Error">Error</th>
                            <th asp-for="Tenant">Tenant</th>
                            <th asp-for="UserName">UserName</th>
                            <th asp-for="Start Time">Start Time</th>
                            <th asp-for="End Time">End Time</th>
                            <th asp-for="Objects Created">Objects Created</th>
                            <th asp-for="Objects Deleted">Objects Deleted</th>
                            <th asp-for="Objects Fetched">Objects Fetched</th>
                            <th asp-for="Objects Updated">Objects Updated</th>
                        </tr>
                    </thead>

                    @foreach (var d in Model.ManagementActivity)
                    {
                        <tbody>
                            <tr>
                                <td>@d.activityId</td>
                                <td>@d.activityType</td>
                                <td>@d.outcome</td>
                                <td>@(d.isInternalError != null && d.isInternalError.ToString() == "true" ? "Yes" : "No")</td>
                                <td>@d.errorMessage</td>
                                <td>@d.Tenants</td>
                                <td>@d.userName</td>
                                <td>@d.startTime</td>
                                <td>@d.endTime</td>
                                <td>@d.ObjectsCreated</td>
                                <td>@d.ObjectsDeleted</td>
                                <td>@d.ObjectsFetched</td>
                                <td>@d.ObjectsUpdated</td>
                            </tr>
                        </tbody>

                    }
                </table>
            }
            else if (Model.ActivityType == MSFT.WVD.Monitoring.Common.Models.ActivityType.Feed)
            {
                <table class="ms-Table">
                    <thead>
                        <tr>
                            <th asp-for="Activity ID">Activity ID</th>
                            <th asp-for="Activity Type">Activity Type</th>
                            <th asp-for="Start Time">Start Time</th>
                            <th asp-for="End Time">End Time</th>
                            <th asp-for="UserName">UserName</th>
                            <th asp-for="Outcome">Outcome</th>
                            <th asp-for="Internal Error">Internal Error </th>
                            <th asp-for="Error Message">Error Message</th>
                            <th asp-for="ClientIPAddress">ClientIPAddress </th>
                            <th asp-for="ClientOS">ClientOS </th>
                        </tr>
                    </thead>

                    @foreach (var d in Model.FeedActivity)
                    {
                        <tbody>
                            <tr>
                                <td>@d.activityId </td>
                                <td>@d.activityType </td>
                                <td>@d.startTime </td>
                                <td>@d.endTime </td>
                                <td>@d.userName</td>
                                <td>@d.outcome </td>
                                <td>@(d.isInternalError != null && d.isInternalError.ToString() == "true" ? "Yes" : "No")</td>
                                <td>@d.errorMessage </td>
                                <td>@d.ClientIPAddress </td>
                                <td>@d.ClientOS </td>
                            </tr>
                        </tbody>

                    }
                </table>
            }
            else if (Model.ActivityType == MSFT.WVD.Monitoring.Common.Models.ActivityType.None)
            {
                <div class="norecordstable">
                    <h3 class="text-center">No records found for the search criteria</h3>
                </div>
            }
        </div>
    </form>
</div>

<script>
    (function () {
        document.getElementById("Diagnosebreadcrumb").style.display = "block";
        var TableElements = document.querySelectorAll(".ms-Table");
        for (var i = 0; i < TableElements.length; i++) {
            new fabric['Table'](TableElements[i]);
        }
        document.getElementById("upn")
            .addEventListener("focus", function () {
                document.getElementById("validate").hidden = true;
            }, false);
        document.getElementById("loader1").hidden = true;
        document.getElementById("process").addEventListener("click", function () {
            document.getElementById("loader1").hidden = false;
        }, false);
    })();
</script>
